In [1]:
import pandas as pd
import numpy as np
import pickle
from pymongo import MongoClient

In [2]:
client = MongoClient("mongodb://localhost:27017/")
db = client.crypto
collection = db.crypto_collection

In [3]:
ticks = pd.DataFrame.from_dict(collection.find({'type':'ticker', 'product_id':'BTC-USD'}))

In [4]:
ticks.head()

,_id,type,sequence,product_id,price,open_24h,volume_24h,low_24h,high_24h,volume_30d,best_bid,best_ask,side,time,trade_id,last_size
0,610fc9d0d5eb0e36ecf51158,ticker,28094453365,BTC-USD,44594.33,43568.23,17862.83864167,42457.27,45363.83,411961.62362377,44594.31,44594.33,buy,2021-08-08T12:10:53.995671Z,200412547,0.00209465
1,610fc9d0d5eb0e36ecf512ea,ticker,28094453457,BTC-USD,44594.33,43568.23,17862.83884702,42457.27,45363.83,411961.62382912,44594.32,44594.33,buy,2021-08-08T12:10:55.282308Z,200412548,0.00020535
2,610fc9d0d5eb0e36ecf512ec,ticker,28094453459,BTC-USD,44594.33,43568.23,17862.84017671,42457.27,45363.83,411961.62515881,44594.32,44594.33,buy,2021-08-08T12:10:55.282308Z,200412549,0.00132969
3,610fc9d0d5eb0e36ecf512ef,ticker,28094453461,BTC-USD,44594.33,43568.23,17862.84034519,42457.27,45363.83,411961.62532729,44594.32,44594.33,buy,2021-08-08T12:10:55.282308Z,200412550,0.00016848
4,610fc9d1d5eb0e36ecf51520,ticker,28094453641,BTC-USD,44594.32,43568.23,17862.84376351,42457.27,45363.83,411961.62874561,44594.31,44594.32,buy,2021-08-08T12:10:56.759396Z,200412551,0.00341832

In [7]:
ticks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1709 entries, 0 to 1708
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         1709 non-null   object
 1   type        1709 non-null   object
 2   sequence    1709 non-null   int64
 3   product_id  1709 non-null   object
 4   price       1709 non-null   object
 5   open_24h    1709 non-null   object
 6   volume_24h  1709 non-null   object
 7   low_24h     1709 non-null   object
 8   high_24h    1709 non-null   object
 9   volume_30d  1709 non-null   object
 10  best_bid    1709 non-null   object
 11  best_ask    1709 non-null   object
 12  side        1709 non-null   object
 13  time        1709 non-null   object
 14  trade_id    1709 non-null   int64
 15  last_size   1709 non-null   object
dtypes: int64(2), object(14)
memory usage: 213.8+ KB

In [9]:
ticks['dt'] = pd.to_datetime(ticks.time)

In [14]:
ticks['dt_min'] = ticks.dt.dt.floor('60s')

In [16]:
ticks.groupby('dt_min').price.agg(['max','min'])

                                max       min
dt_min
2021-08-08 12:10:00+00:00  44594.33  44594.32
2021-08-08 12:11:00+00:00  44646.64  44594.31
2021-08-08 12:12:00+00:00  44662.24  44622.76
2021-08-08 12:13:00+00:00  44677.43   44634.6
2021-08-08 12:14:00+00:00  44679.56  44645.81
2021-08-08 12:15:00+00:00  44673.97  44598.27
2021-08-08 12:16:00+00:00  44641.13  44602.78
2021-08-08 12:17:00+00:00  44655.91  44628.09
2021-08-08 12:18:00+00:00  44647.54  44628.09
2021-08-08 12:19:00+00:00  44770.23  44647.03
2021-08-08 12:20:00+00:00  44776.47   44721.8
2021-08-08 12:21:00+00:00  44870.64  44743.48
2021-08-08 12:22:00+00:00  44892.79  44799.75
2021-08-08 12:23:00+00:00  44892.79  44832.66