In [1]:
from pyo import *

In [14]:
import numpy as np
import time
import pandas as pd

import websocket, json

In [3]:
s = Server().boot()

Pyo warning: Portaudio input device `MacBook Air Microphone` has fewer channels (1) than requested (2).
Pyo warning: Portmidi warning: no midi device found!
Portmidi closed.

In [4]:
s.start()

In [5]:
wav = SquareTable()

In [6]:
beat = Metro(time=.125, poly=1).play()

In [7]:
envelope = CosTable([(0,0), (100,1), (500,.3), (8191,0)])

In [8]:
amplitude = TrigEnv(beat, table=envelope, dur=.25, mul=0.7)

In [9]:
pitch = TrigXnoiseMidi(beat, dist=8, scale=0, mrange=(48,96))

In [10]:
oscillator = Osc(table=wav, freq=pitch, mul=amplitude).out()

In [11]:
oscillator.stop()

< Instance of Osc class >

In [12]:
# times = np.random.uniform(size=5)
# pitches = np.random.randint(24, 56, size=20)
# scale

In [13]:
# for i in range(20):
#     if i % 4 == 0:
#         t = float(round(times[i//4] + .125, 3))
#         print(t)
#         beat = Metro(time = t, poly=1).play()
#     envelope = CosTable([(0,0), (100,1), (500,.3), (8191,0)])
#     amplitude = TrigEnv(beat, table=envelope, dur=.25, mul=0.7)
#     pitch = TrigXnoiseMidi(beat, dist=8, scale=0, mrange=(pitches[i],96))
    
#     oscillator = Osc(table=wav, freq=pitch, mul=amplitude).out()
    
#     time.sleep(1)

In [15]:
socket = "wss://ws-feed.pro.coinbase.com"

In [16]:
subscribe = {
    "type": "subscribe",
    "product_ids": [
        "BTC-USD",
        "ETH-USD",
        "ETH-EUR"
    ],
    "channels": [
        "level2",
        "heartbeat",
        {
            "name": "ticker",
            "product_ids": [
                "BTC-USD",
                "ETH-BTC",
                "ETH-USD"
            ]
        }
    ]
}

In [17]:
dat = []

In [18]:
def on_open(ws):
    print('opened')
    auth_data = subscribe
    ws.send(json.dumps(auth_data))

In [19]:
def on_message(ws, message):
    #print('received a message:')
    #print(message)
    #collection.insert_one(eval(message))
    
    dat.append(eval(message))

In [20]:
ws = websocket.WebSocketApp(socket, on_open=on_open, on_message=on_message)

In [21]:
ws.run_forever()

opened

False

In [52]:
dat[:1]

[{'type': 'subscriptions',
  'channels': [{'name': 'level2',
    'product_ids': ['BTC-USD', 'ETH-USD', 'ETH-EUR']},
   {'name': 'heartbeat', 'product_ids': ['BTC-USD', 'ETH-USD', 'ETH-EUR']},
   {'name': 'ticker',
    'product_ids': ['BTC-USD', 'ETH-USD', 'ETH-EUR', 'ETH-BTC']}]}]

In [23]:
len(dat)

42459

In [24]:
pd.Series([t['type'] for t in dat]).value_counts()

l2update         41128
ticker            1210
heartbeat          117
snapshot             3
subscriptions        1
dtype: int64

In [25]:
BTC_ticker = [t for t in dat if t['type'] == 'ticker' and t['product_id'] == 'BTC-USD']

In [26]:
BTC_l2 = [t for t in dat if t['type'] == 'l2update' and t['product_id'] == 'BTC-USD']

In [27]:
BTC_snapshot = [t for t in dat if t['type'] == 'snapshot' and t['product_id'] == 'BTC-USD']

In [55]:
#BTC_snapshot

In [29]:
asks = pd.DataFrame(BTC_snapshot[0]['asks'])

In [30]:
asks.columns = ['price', 'size_BTC']
asks.price = asks.price.astype(float)
asks.size_BTC = asks.size_BTC.astype(float)

In [31]:
asks.head()

      price  size_BTC
0  43697.11  0.149348
1  43697.12  0.198333
2  43698.23  0.135539
3  43699.23  0.078562
4  43699.24  0.113282

In [32]:
asks_100 = asks.loc[asks.price < asks.price[0] + 100, :]

In [33]:
asks_100.head()

      price  size_BTC
0  43697.11  0.149348
1  43697.12  0.198333
2  43698.23  0.135539
3  43699.23  0.078562
4  43699.24  0.113282

In [34]:
asks_100.size_BTC.sum()

31.29099432

In [35]:
df_l2 = pd.DataFrame(BTC_l2)

In [36]:
df_l2.head()

,type,product_id,changes,time
0,l2update,BTC-USD,"[[sell, 43714.89, 0.16820000]]",2021-08-07T10:06:55.530542Z
1,l2update,BTC-USD,"[[buy, 43688.28, 0.00000000]]",2021-08-07T10:06:55.553490Z
2,l2update,BTC-USD,"[[sell, 43697.12, 0.06023311]]",2021-08-07T10:06:55.556273Z
3,l2update,BTC-USD,"[[sell, 43714.89, 0.00000000]]",2021-08-07T10:06:55.558469Z
4,l2update,BTC-USD,"[[buy, 43691.03, 0.16820000]]",2021-08-07T10:06:55.570799Z

In [37]:
BTC_l2[:5]

[{'type': 'l2update',
  'product_id': 'BTC-USD',
  'changes': [['sell', '43714.89', '0.16820000']],
  'time': '2021-08-07T10:06:55.530542Z'},
 {'type': 'l2update',
  'product_id': 'BTC-USD',
  'changes': [['buy', '43688.28', '0.00000000']],
  'time': '2021-08-07T10:06:55.553490Z'},
 {'type': 'l2update',
  'product_id': 'BTC-USD',
  'changes': [['sell', '43697.12', '0.06023311']],
  'time': '2021-08-07T10:06:55.556273Z'},
 {'type': 'l2update',
  'product_id': 'BTC-USD',
  'changes': [['sell', '43714.89', '0.00000000']],
  'time': '2021-08-07T10:06:55.558469Z'},
 {'type': 'l2update',
  'product_id': 'BTC-USD',
  'changes': [['buy', '43691.03', '0.16820000']],
  'time': '2021-08-07T10:06:55.570799Z'}]

In [38]:
BTC_l2_clean = [{'type':blob['type'],
 'product_id':blob['product_id'],
 'buy_sell':blob['changes'][0][0],
 'price':float(blob['changes'][0][1]),
 'amount':float(blob['changes'][0][2]),
 'time':blob['time']}
for blob in BTC_l2]

In [39]:
df_l2 = pd.DataFrame(BTC_l2_clean)

In [40]:
df_l2.head()

,type,product_id,buy_sell,price,amount,time
0,l2update,BTC-USD,sell,43714.89,0.168200,2021-08-07T10:06:55.530542Z
1,l2update,BTC-USD,buy,43688.28,0.000000,2021-08-07T10:06:55.553490Z
2,l2update,BTC-USD,sell,43697.12,0.060233,2021-08-07T10:06:55.556273Z
3,l2update,BTC-USD,sell,43714.89,0.000000,2021-08-07T10:06:55.558469Z
4,l2update,BTC-USD,buy,43691.03,0.168200,2021-08-07T10:06:55.570799Z

In [41]:
df_l2['time_format'] = pd.to_datetime(df_l2.time)

In [42]:
df_l2.head()

,type,product_id,buy_sell,price,amount,time,time_format
0,l2update,BTC-USD,sell,43714.89,0.168200,2021-08-07T10:06:55.530542Z,2021-08-07 10:06:55.530542+00:00
1,l2update,BTC-USD,buy,43688.28,0.000000,2021-08-07T10:06:55.553490Z,2021-08-07 10:06:55.553490+00:00
2,l2update,BTC-USD,sell,43697.12,0.060233,2021-08-07T10:06:55.556273Z,2021-08-07 10:06:55.556273+00:00
3,l2update,BTC-USD,sell,43714.89,0.000000,2021-08-07T10:06:55.558469Z,2021-08-07 10:06:55.558469+00:00
4,l2update,BTC-USD,buy,43691.03,0.168200,2021-08-07T10:06:55.570799Z,2021-08-07 10:06:55.570799+00:00

In [43]:
df_l2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12527 entries, 0 to 12526
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         12527 non-null  object
 1   product_id   12527 non-null  object
 2   buy_sell     12527 non-null  object
 3   price        12527 non-null  float64
 4   amount       12527 non-null  float64
 5   time         12527 non-null  object
 6   time_format  12527 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(2), object(4)
memory usage: 685.2+ KB

In [44]:
df_l2['dt'] = df_l2.time_format.dt.floor('s')

In [45]:
df_l2.head()

,type,product_id,buy_sell,price,amount,time,time_format,dt
0,l2update,BTC-USD,sell,43714.89,0.168200,2021-08-07T10:06:55.530542Z,2021-08-07 10:06:55.530542+00:00,2021-08-07 10:06:55+00:00
1,l2update,BTC-USD,buy,43688.28,0.000000,2021-08-07T10:06:55.553490Z,2021-08-07 10:06:55.553490+00:00,2021-08-07 10:06:55+00:00
2,l2update,BTC-USD,sell,43697.12,0.060233,2021-08-07T10:06:55.556273Z,2021-08-07 10:06:55.556273+00:00,2021-08-07 10:06:55+00:00
3,l2update,BTC-USD,sell,43714.89,0.000000,2021-08-07T10:06:55.558469Z,2021-08-07 10:06:55.558469+00:00,2021-08-07 10:06:55+00:00
4,l2update,BTC-USD,buy,43691.03,0.168200,2021-08-07T10:06:55.570799Z,2021-08-07 10:06:55.570799+00:00,2021-08-07 10:06:55+00:00

In [46]:
df_buys = df_l2[df_l2.buy_sell == 'buy']

In [47]:
df_buys.groupby('dt').amount.sum()

dt
2021-08-07 10:06:55+00:00      0.847458
2021-08-07 10:06:56+00:00     13.222886
2021-08-07 10:06:57+00:00     14.493795
2021-08-07 10:06:58+00:00     27.445927
2021-08-07 10:06:59+00:00     27.363430
2021-08-07 10:07:00+00:00     25.649707
2021-08-07 10:07:01+00:00     29.165152
2021-08-07 10:07:02+00:00     50.528995
2021-08-07 10:07:03+00:00      8.091091
2021-08-07 10:07:04+00:00    102.160583
2021-08-07 10:07:05+00:00     50.567466
2021-08-07 10:07:06+00:00     31.730528
2021-08-07 10:07:07+00:00     63.363477
2021-08-07 10:07:08+00:00    134.753734
2021-08-07 10:07:09+00:00     15.310242
2021-08-07 10:07:10+00:00     16.252025
2021-08-07 10:07:11+00:00      6.567075
2021-08-07 10:07:12+00:00     16.413400
2021-08-07 10:07:13+00:00    120.937036
2021-08-07 10:07:14+00:00    120.469174
2021-08-07 10:07:15+00:00     30.891426
2021-08-07 10:07:16+00:00     19.579364
2021-08-07 10:07:17+00:00     13.111049
2021-08-07 10:07:18+00:00     79.932670
2021-08-07 10:07:19+00:00     37.259064
2021-08-07 10:07:20+00:00     70.340781
2021-08-07 10:07:21+00:00     22.093054
2021-08-07 10:07:22+00:00    128.469128
2021-08-07 10:07:23+00:00    107.701690
2021-08-07 10:07:24+00:00     52.905007
2021-08-07 10:07:25+00:00     83.333116
2021-08-07 10:07:26+00:00     95.783220
2021-08-07 10:07:27+00:00     22.272046
2021-08-07 10:07:28+00:00     48.019079
2021-08-07 10:07:29+00:00    101.125129
2021-08-07 10:07:30+00:00     30.078559
2021-08-07 10:07:31+00:00     30.649291
2021-08-07 10:07:32+00:00    127.413588
2021-08-07 10:07:33+00:00     46.632255
2021-08-07 10:07:34+00:00     56.837327
Name: amount, dtype: float64

In [48]:
deltas = df_buys.groupby('dt').amount.sum()[1:].pct_change()[1:]

In [49]:
deltas

dt
2021-08-07 10:06:57+00:00     0.096114
2021-08-07 10:06:58+00:00     0.893633
2021-08-07 10:06:59+00:00    -0.003006
2021-08-07 10:07:00+00:00    -0.062628
2021-08-07 10:07:01+00:00     0.137056
2021-08-07 10:07:02+00:00     0.732513
2021-08-07 10:07:03+00:00    -0.839872
2021-08-07 10:07:04+00:00    11.626306
2021-08-07 10:07:05+00:00    -0.505020
2021-08-07 10:07:06+00:00    -0.372511
2021-08-07 10:07:07+00:00     0.996925
2021-08-07 10:07:08+00:00     1.126678
2021-08-07 10:07:09+00:00    -0.886384
2021-08-07 10:07:10+00:00     0.061513
2021-08-07 10:07:11+00:00    -0.595923
2021-08-07 10:07:12+00:00     1.499347
2021-08-07 10:07:13+00:00     6.368189
2021-08-07 10:07:14+00:00    -0.003869
2021-08-07 10:07:15+00:00    -0.743574
2021-08-07 10:07:16+00:00    -0.366188
2021-08-07 10:07:17+00:00    -0.330364
2021-08-07 10:07:18+00:00     5.096588
2021-08-07 10:07:19+00:00    -0.533869
2021-08-07 10:07:20+00:00     0.887884
2021-08-07 10:07:21+00:00    -0.685914
2021-08-07 10:07:22+00:00     4.814910
2021-08-07 10:07:23+00:00    -0.161653
2021-08-07 10:07:24+00:00    -0.508782
2021-08-07 10:07:25+00:00     0.575146
2021-08-07 10:07:26+00:00     0.149402
2021-08-07 10:07:27+00:00    -0.767474
2021-08-07 10:07:28+00:00     1.156025
2021-08-07 10:07:29+00:00     1.105936
2021-08-07 10:07:30+00:00    -0.702561
2021-08-07 10:07:31+00:00     0.018975
2021-08-07 10:07:32+00:00     3.157146
2021-08-07 10:07:33+00:00    -0.634009
2021-08-07 10:07:34+00:00     0.218841
Name: amount, dtype: float64

In [ ]:
# time change logic [.125, .125 * (1+.7),

# BTC Make Music

In [50]:
t = .14

for i in deltas:
    #if i % 4 == 0:
        #t = float(round(times[i//4] + .125, 3))
        #print(t)
    t = t * (1+i)
    beat = Metro(time = t, poly=1).play()
    envelope = CosTable([(0,0), (100,1), (500,.3), (8191,0)])
    amplitude = TrigEnv(beat, table=envelope, dur=.25, mul=0.7)
    pitch = TrigXnoiseMidi(beat, dist=8, scale=0, mrange=(48,96))
    
    oscillator = Osc(table=wav, freq=pitch, mul=amplitude).out()
    
    time.sleep(1)

In [51]:
oscillator.stop()

< Instance of Osc class >